<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @parent.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @parent.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @parent.email %>
</p>


<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
